#root {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ride-list {
  display: flex;
  flex-direction: column;
}

.ride-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  padding: 4px 8px;
  border: 1px solid #e2e2e2;
}
