:root {
  --corner-radius: 5px;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 32px);
  height: 600px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: var(--corner-radius);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  background: white;
  overflow: hidden;
  border-top-left-radius: var(--corner-radius);
  border-top-right-radius: var(--corner-radius);
  border-bottom: 1px solid var(--color-text-lighter);
  color: var(--color-text);
  padding: 10px;
}

.heading {
  margin: 0;
  color: var(--color-text);
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}

.modalContent {
  flex: 1;
  /* padding: 10px; */
  font-size: 1em;
  color: var(--color-text);
}

.modalActions {
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.closeBtn {
  height: 24px;
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  color: var(--color-text);
  background: white;
  transition: all 0.2s;
  margin-top: -6px;
  margin-right: -7px;
  font-size: 1.4em;
}

.closeBtn:hover {
  background-color: #e2e2e2;
}

.joinBtn {
  cursor: pointer;
  font-weight: 700;
  padding: 6px 14px;
  border: none;
  color: #fff;
  background: var(--color-maroon);
  font-size: 1.4em;
  font-family: var(--font-family);
  border-radius: var(--radius);
}

.joinBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  background: #ff3e4e;
}

.cancelBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  border: none;
  color: var(--color-text);
  background: #fcfcfc;
  font-size: 1em;
  font-family: var(--font-family);
  border-radius: var(--radius);
}

.cancelBtn:hover {
  box-shadow: none;
  background: whitesmoke;
}

@media (min-width: 620px) {
  .modal {
    width: 600px;
    /* height: 400px; */
  }
}

/* @media (min-width: 1280px) {
  .container {
    max-width: var(--max-width);
  }
} */

.contentRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding: 10px;
}

.going {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 20px);
  padding: 10px;
  color: white;
  background-color: var(--color-blue);
  text-transform: uppercase;
  font-weight: 700;
}
