.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  color: var(--color-text-lighter);
}

.spinner {
  font-size: 2em;
  color: var(--color-text-lighter);
  padding-bottom: 64px;
}

.text {
  font-size: 2em;
  color: var(--color-text-lighter);
}
